#bbp-post-preview-wrapper {
    clear:   both;
    display: none;
    margin:  1em auto;
}

#bbp-post-preview-wrapper label {
    clear:   both;
    display: block;
}

#bbp-post-preview-wrapper #bbp-post-preview {
    border:     1px solid #ccc;
    margin-top: .5em;
    padding:    5px;
    color:      #333;
    min-height: 20px;
    margin-left: 0;
}

#bbp-post-preview-wrapper #bbp-post-preview code {
    font-size: 100%;
}

#bbp-post-preview.loading {
    background: transparent url("ajax-loader.gif") no-repeat scroll 50% 50%;
}

#bbp-post-preview.loading * {
    opacity: 0.2;
}